<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX</title>
    <style>
        form{
            border : 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label{
            display: block;
            margin-top: 5px;            
        }
        input, textarea, select, option{
            min-width: 200px;
        }
        .tombol{
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div id="app">
        <form v-on:submit.prevent="submitForm()">
            <label>Name : {{name}}</label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="name"  v-model="name">
            <label>Address : {{address}}</label>
            <textarea name="address" :disabled="buttonStatus == 'upload'" v-model="address"></textarea> 
            <label>Nomor Hp : {{nomor}}</label>
            <input type="text" name="nomor" :disabled="buttonStatus =='upload'" v-model.number="nomor">

            <div v-if="buttonStatus == 'submit'">
                <input class="tombol" type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input class="tombol" type="button" @click="updateMember(idEditMember)"value="UPDATE">
                <input class="tombol" type="button" @click=clearForm() value="CANCEL">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input class="tombol" type="file" name="photo" ref="photo" >
                <input class="tombol" type="button" @click="submitFoto(idUploadMember)"value="UPLOAD">
                <input class="tombol" type="button" @click=clearForm() value="CANCEL">
            </div>
         </form>
         <br><br>
         <table border="1">
            <tr v-for="member of members" :key="member.id">
                <td>
                    <img width=100 :src="member.photo_profile ? photoDomain + member.photo_profile :  'https://dummyimage.com/16:9x1000'" alt="">
                </td>
                <td>
                    <b>Name : </b> {{member.name}} <br>
                    <b>Address : </b> {{member.address}} <br>
                    <b>No. Hp : </b>{{member.no_hp}} <br>
                </td>
                <td>
                    <button @click="editMember(member)">Edit</button>
                    <button @click="deleteMember(member.id)">Delete</button>
                    <button @click="uploadFoto(member)">Upload Foto</button>
                </td>
            </tr>
         </table>

        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var api = axios.create({
            baseURL : 'http://demo-api-vue.sanbercloud.com/api/member',
        });
         var app = new Vue({
            el: '#app',
            data: {
               msg: 'Data Member',
               members : [],
               member : {},
               name : "",
               address : "",
               nomor : "",
               photoDomain : 'http://demo-api-vue.sanbercloud.com/api/member',
               buttonStatus : 'submit',
               idEditMember : null,
               idUploadMember : null
            },
            methods : {
                clearForm : function(){
                    this.name = "",
                    this.address = "",
                    this.nomor = ""
                    this.idEditMember = null
                    this.buttonStatus = 'submit'
                    this.idUploadMember = null
                },
                submitForm : async function(){
                    try{
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.nomor)

                        const config = {
                            method : "post",
                            url : "",
                            data : formData
                        }
                        const res = await api(config)
                        console.log(res.data)
                        this.clearForm()
                        this.getAll()
                        alert('Data Berhasil di tambah')
                    }catch(error){
                        console.log(error)
                    }
                   
                },
                getAll : async function(){
                    try {
                        const config ={
                            method : "get",
                            url : ""
                        }                      
                        const res = await api(config)
                        this.members = res.data.members
                        console.log(this.members)
                    }catch(error){
                        console.log(error)
                    }

                },
                showMember : async function(id){
                    try{
                        const config = {
                            method : "get",
                            url : `${id}`
                        }
                        const res = await api(config)
                        this.member = res.data.member
                        console.log(res.data)
                    }catch(error){
                        console.log(error)
                    }
                    console.log(id)
                },
                deleteMember : async function(id){

                    try{
                        let yes = confirm('Yakin hapus data?')
                        if(yes){
                            const config = {
                            method : "post",
                            url : `${id}`,
                            params : {_method : "DELETE"}                      
                        }
                            const res = await api(config)
                            this.getAll()
                            alert('Data Berhasil di hapus')
                        }
                       
                        

                    }catch(error){
                        console.log(error)
                    }
                },
                editMember :function(member){
                    this.name = member.name
                    this.address = member.address
                    this.nomor = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                },
           
                updateMember : async function(id){
                    try{
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.nomor)

                        const config = {
                            method : "post",
                            url : `${id}`,
                            params : {_method : "PUT"},
                            data : formData
                        }
                        const res = await api(config)
                        console.log(res.data)
                        this.clearForm()
                        this.getAll()
                        alert('Data Berhasil di ubah') 
                    }catch(err){
                        console.log(err)
                    }
                },
                uploadFoto: function(member){
                    this.name = member.name
                    this.address = member.address
                    this.nomor = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadMember = member.id
                },
                submitFoto : async function(id){
                    try{
                        let file = this.$refs.photo.files[0]
                        let formData = new FormData()
                        formData.append('photo_profile', file)

                        const config = {
                            method : "post",
                            url : `${id}/upload-photo-profile`,                          
                            data : formData
                        }
                        const res = await api(config)
                        console.log(res.data)
                        this.clearForm()
                        this.getAll()
                        alert('Foto Berhasil di upload') 
                    }catch(e){
                        console.log(e)
                    }
                }
            },
            created(){
                this.getAll()
            },
           
        })
    </script>
</body>
</html>