<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpus Sederhana</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="keyword" placeholder="Ketikkan Kata Kunci"/>        
        <ul>
            <li v-for="book in filterBuku">{{book}}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                keyword : "",
                books : [
                   'Kalkulus Dasar',
                   'Fisika Dasar',
                   'Aljabar Linier Elementer',
                   'Aljabar Abstrak',
                   'Algoritma Pemrograman'
                ],
            },
             computed: {
                    filterBuku : function() {
                        if(this.keyword != "")
                        {
                            return this.books.filter((book)=>{
                                return book.toLowerCase().includes(this.keyword.toLowerCase())
                            })
                        }else{
                            return this.books
                       }
                   }
            }     
            
        })
    </script>
</body>
</html>